body {
	background-color: white;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	margin:0;
	padding:0;
}
.box {
	-moz-border-radius: 15px;
	border-radius: 15px;
	background-color:white;
	width:75%;
	border:3px solid #D0D0D0;
	margin-left: auto ;
  	margin-right: auto ;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 5px;
}
div#header {
	background-color: #009966;
	top-position: 0px;
	width: 100%;
	-moz-box-shadow:    0px 3px 5px 6px #ccc;
  	-webkit-box-shadow: 0px 3px 5px 6px #ccc;
  	box-shadow:         0px 3px 5px 6px #ccc;
}

div#footer {
	background-color: #009966;
	width: 100%;
	font-size:14px;
	-moz-box-shadow:    0px -3px 5px 6px #ccc;
  	-webkit-box-shadow: 0px -3px 5px 6px #ccc;
  	box-shadow:         0px -3px 5px 6px #ccc;
}
h1 {
	font-family: 'The Girl Next Door', cursive;
	padding: 0;
	margin: 0;
}
div#graph {
    background-color: #FFF;
	border: 10px solid black;
}
div#right {
	float:right;
	width:48%;

}
div#left {
	width:48%;

}
span.choice{
	float:right;
}
div.even {
	background-color:#E8E8E8;
	padding:5px;
}
div.odd {
	padding:5px;
}
a:link {text-decoration:none;}
a:visited {text-decoration:none;}
a:hover {
	text-decoration:none;
	background-color:#B8B8B8;
}
a:active {
	text-decoration:none;
	background-color:#B8B8B8;
}
ul { 
		margin:0px; 
		padding:0px; 
		margin-left:20px;
		list-style-type:none; 
}

#list li {
	font-size:10px;
	padding:20px;
	float:left;
	padding:5px; 
	width:50px; 
	height:50px;
}
.placeHolder div { 
		background-color:white !important; 
		border:dashed 1px gray !important;
		width:50px; height:50px; 
}
#list div, { 
		width:50px; height:50px; 
		border:solid 1px black; 
		background-color:#E0E0E0; 
		text-align:center; 
		padding-top:0px;
}

div#count a {
	float:right;
	margin-right:20px;
}

/* BUTTON */
.button {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#777777;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;
}.button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
}.button:active {
	position:relative;
	top:1px;
}
/* End of button */