body {
	background-color: white;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	margin:0;
	padding:0;
}
div#header {
	background-color: #009966;
	top-position: 0px;
	width: 100%;
}

div#footer {
	background-color: #009966;
	width: 100%;
	font-size:14px;
}
h1 {
	font-family: 'The Girl Next Door', cursive;
	padding: 0;
	margin: 0;
}
div#main {
        background-color: #FFF;
}
div#menu {
	background-color: #FFF;
	border: 1px solid black;
}
div#graph {
        background-color: #FFF;
	border: 10px solid black;
}
div#right {
	float:right;
	width:48%;

}
div#left {
	width:48%;

}
span.choice{
	float:right;
}
div.even {
	background-color:#E8E8E8;
	padding:5px;
}
div.odd {
	padding:5px;
}
a:link {text-decoration:none;}
a:visited {text-decoration:none;}
a:hover {
	text-decoration:none;
	background-color:#B8B8B8;
}
a:active {
	text-decoration:none;
	background-color:#B8B8B8;
}
ul { 
		margin:0px; 
		padding:0px; 
		margin-left:20px;
		list-style-type:none; 
}

#list li {
	font-size:10px;
	padding:20px;
	float:left;
	padding:5px; 
	width:50px; 
	height:50px;
}
.placeHolder div { 
		background-color:white !important; 
		border:dashed 1px gray !important;
		width:50px; height:50px; 
}
div#plots {
		border:1px solid #000;
		text-align: center;
		width:auto;
}

#list div, { 
		width:50px; height:50px; 
		border:solid 1px black; 
		background-color:#E0E0E0; 
		text-align:center; 
		padding-top:0px;
}

div#count a {
	float:right;
	border:solid 5px black;
	background-color:#009966;
	font-color:black;
	margin-right:20px;
}