body {
	background-color: #009966;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
}
h1 {
	font-family: 'The Girl Next Door', cursive;
}
div#main {
        background-color: #FFF;
}
div#menu {
	background-color: #FFF;
	border: 1px solid #000;
}
div#graph {
        background-color: #FFF;
	border: 10px solid black;
}
