<!DOCTYPE HTML>

<html>
<head>
{% block style %}
{% endblock %}
<link rel="stylesheet" type="text/css" media="screen" href="/static/css/bootstrap.css" />
<link rel="stylesheet" type="text/css" media="screen" href="/static/css/style.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
<script src="static/js/application.js" type="text/javascript"></script>
{% block js %}
{% endblock %}
    <title>Companion Planting Companion</title>
</head>
<body>
    <div id="header">
	<h1><a href="/">Companion Planting Companion</a></h1>
    </div>
	
    <div id="row">
        {% block main %}
        {% endblock %}
    </div>


</body>
{% block end %}
{% endblock %}
</html>
