{% extends "base.html" %}

{% block style %}
<style>
div.row {
	width:{{width * box}}px;
	height:{{length * box}}px;
	margin-bottom:120px;
	margin-left:auto;
  	margin-right:auto;
}
.plotbox {
	-moz-border-radius: 15px;
	border-radius: 15px;
	background-color:white;
	width:{{width * box}}px;
	border:0px solid #D0D0D0;
	margin-left: auto;
  	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 20px 20px 20px 20px;
}
</style>
{% endblock %}

{% block js %}
<script>
$(function() {
	$( "#sortable" ).sortable();
	$( "#sortable" ).disableSelection();
});
</script>
{% endblock %}

{% block main %}
<div class="col-md-4">
    <h2>Plot</h2>
    <div class="col-md-4 col-md-offset-2">
        Score: {{total_score}}
    </div>    
    <div class="col-md-10 col-md-offset-2">
	<ul id="sortable">
	    {% for square in order %}
		{% if square[1] == "1" and square[0] != "A" %}
		{% endif %}
                <li class="plantbox {{solved[square][0]}}">
		    {% if solved[square][0] in image_list %}
                        <img src="static/plants/{{solved[square][0]}}.gif">
                    {% else %}
                        <img src="static/plants/Taro.gif">
                    {% endif %}
                    <br>[{{square}}]<br>
		    {{solved[square][0]}}<br>
		    {{benefits[square]}}
		</li>
	    {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
