<!DOCTYPE HTML>

<html>
<head>
<style>
div.row {
	width:{{width * box}}px;
	height:{{length * box}}px;
	margin-bottom:120px;
	margin-left:auto;
  	margin-right:auto;
}
.plotbox {
	-moz-border-radius: 15px;
	border-radius: 15px;
	background-color:white;
	width:{{width * box}}px;
	border:0px solid #D0D0D0;
	margin-left: auto;
  	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 20px 20px 20px 20px;
}
</style>
<link href='http://fonts.googleapis.com/css?family=The+Girl+Next+Door' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" media="screen" href="/static/style.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
<script src="static/js/jquery-ui-1.8.23.custom.min.js" type="text/javascript"></script>
<script>
$(function() {
	$( "#sortable" ).sortable();
	$( "#sortable" ).disableSelection();
});
</script>
	<title>Companion Planting Companion</title>
</head>
<body>
	<div id="header">
		<h1><a href="/">Companion Planting Companion</a></h1>
	</div>
	
	<div>
            <div class="plotbox shadow">
                <h2>Plot</h2>
                        <div class="box green">
                            Score: {{total_score}}
                        </div>    
			<div class="row">
			<ul id="sortable">
				{% for square in order %}
					{% if square[1] == "1" and square[0] != "A" %}
			        {% endif %}
				<li class="plantbox {{solved[square][0]}}">
					{% if solved[square][0] in image_list %}
                    <img src="static/plants/{{solved[square][0]}}.gif">
                    {% else %}
                    <img src="static/plants/Taro.gif">
                    {% endif %}
                	<br>[{{square}}]<br>
					{{solved[square][0]}}<br>
					{{benefits[square]}}
				</li>
				{% endfor %}
			</ul>
			</div>

			</div>
			<div id="footer">
				<br><br><br>
			</div>
</body>
</html>
