<!DOCTYPE HTML>

<html>
<head>
<link href='http://fonts.googleapis.com/css?family=The+Girl+Next+Door' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" media="screen" href="/static/style.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
<script src="static/js/application.js" type="text/javascript"></script>
	<title>Companion Planting Companion</title>
</head>
<body>
	<div id="header">
		<h1><a href="/">Companion Planting Companion</a></h1>
	</div>
	
	<div id="main">
	<div class="box">
	<p> Welcome to Companion Planting Companion. 
	<p>Companion planting is the planting of different crops in proximity (in gardening and agriculture), on the theory that they assist each other in nutrient uptake, pest control, pollination, and other factors necessary to increasing crop productivity. Companion planting is a form of polyculture.	
	<p>This is a three step process,
	<ol>
	<li>Enter your state, city, season, and plot size.
	<li>Select how many squares of each plant you want.
	<li>Generate your planting guide and print out the pdf to use in your garden.
	</ul>
	</div>
	<div class="box">
	<center>
	<form action="/select_plants">	
		<h3>Input Zipcode:</h3>
		<input type="text" name="zip_code" /><br />
		<h3>Select Season:</h3>
			<select name="season_id">
			{% for season in seasons %}
			<option>{{season}}</option>
			{% endfor %}
			</select>
		<h3>Select Plot Size:</h3>	
		Width:
			<select name="plot-width">
			{% for num in range(9) %}
			<option>{{num+1}}</option>
			{% endfor %}
			</select>
		Length:
			<select name="plot-length">
			{% for num in range(24) %}
			<option>{{num+1}}</option>
			{% endfor %}
		</select>
		<input type="submit" name="action" value="Submit" />
	</form>
	</center>
	</div>
	</div>
	<div id="footer">
		<br><center>
		To learn more about this project, <a href="https://github.com/claudiay/CPC"><u>visit my Github</u></a>.
		<br><br></center>
	</div>
</body>
</html>
