<!DOCTYPE HTML>

<html>
<style>
h1 {
        font-family: 'The Girl Next Door', cursive;
	}
#menu {
	border: 1px solid #00CCCC;
}
</style>
<head>
<link href='http://fonts.googleapis.com/css?family=The+Girl+Next+Door' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" media="screen" href="/static/style.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
<script src="static/js/application.js" type="text/javascript"></script>
	<title>Companion Planting Companion</title>
</head>
<body>
	<div id="header">
		<h1>Companion Planting Companion</h1>
	</div>
	
	<div id="menu">
	<p> Welcome to Campanion Planting Companion. This is a three step process,
	<ol>
	<li>Enter your state, city, season, plot size, and choose your plants.
	<li>Set any pre-planned plants.
	<li>Generate your planting guide and print out the pdf to use in your garden.
	</ul>
	<center>
	<form action="/select_plants">	
		<h3>Input Zipcode:</h3>
		<input type="text" name="zip_code" /><br />
		<h3>Select Season:</h3>
			<select name="season_id">
			{% for season in seasons %}
			<option>{{season}}</option>
			{% endfor %}
			</select>
		<h3>Select Plot Size:</h3>	
		Width:
			<select name="plot-width">
			{% for num in range(9) %}
			<option>{{num+1}}</option>
			{% endfor %}
			</select>
		Length:
			<select name="plot-length">
			{% for num in range(24) %}
			<option>{{num+1}}</option>
			{% endfor %}
		</select>
		<input type="submit" name="action" value="Submit" />
	</form>
	</center>
	</div>
</body>
</html>
