<!DOCTYPE HTML>

<html>
<head>
<link href='http://fonts.googleapis.com/css?family=The+Girl+Next+Door' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" media="screen" href="/static/style.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
<script src="static/js/application.js" type="text/javascript"></script>
<title>Companion Planting Companion</title>
</head>
<body>
	<div id="header">
		<h1>Companion Planting Companion</h1>
	</div>
	
	<div id="menu">
	<form action="/get_location">	
		<h3>Input Zipcode:</h3>
		<input type="text" name="zip_code" /><br />
		<h3>Select Season:</h3>
			<select>
			<option>--Season--</option>
			{% for season in seasons %}
			<option>{{season}}</option>
			{% endfor %}
			</select>
		<input type="submit" name="action" value="Submit" />
	</form>
	</div>
	<div id="graph">
	<form id="plot-form" method="post" action="/plots">
	Width:
	<select name='width' id="plot-width">
	{% for num in range(9) %}
		<option>{{num+1}}</option>
	{% endfor %}
	</select>
	Length:
	<select name='length' id="plot-length">
	{% for num in range(24) %}
		<option>{{num+1}}</option>
	{% endfor %}
	</select>
        <input type="submit" id="createplot" value="create plot">
	</form>
	<br>
	<div id="plots">
	</div>
	<div id="plants">
	</div>
	</div>
</body>
</html>
