<link rel="stylesheet" type="text/css" media="screen" href="static/style.css" />
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script type="text/javascript" src="static/js/jquery.dragsort-0.5.1.min.js"></script>
<div>
<div id="plots">
<h2>Plot</h2>
<ul id="list2">
	{% for square in squares %}
	{% if square[1] == "1" and square[0] != "A" %}
        <br>
        {% endif %}
        <li><div>{{square}}</div></li>
	{% endfor %}
</ul>
</div>
<div id="plants">
<h2>Plants</h2>        
<ul id="list1">
	{% for square in squares %}
	{% if square[1] == "1" %}
        <br>
        {% endif %}
        <li><div><img src="static/eggplant.gif"></div></li>
	{% endfor %}
</ul>
</div>
</div>

<input name="list1SortOrder" type="hidden" />

<script type="text/javascript">

function main() {
$("#list1, #list2").dragsort({ dragSelector: "div", dragBetween: true, dragEnd: saveOrder, placeHolderTemplate: "<li class='placeHolder'><div></div></li>" });
function saveOrder() {
var data = $("#list1 li").map(function() { return $(this).children().html(); }).get();
											                        $("input[name=list1SortOrder]").val(data.join("|"));
};
};
$(document).ready(main);
</script>

<div style="clear:both;"></div>

