{% extends "base.html" %}
{% block main %}	
<div class="col-md-8 col-md-offset-2">
    {{width}}x{{length}}<br>
    <div id="count" value="{{side}}">
	<a href="/fin" id="done" class="btn btn-success btn-lg">Create Garden</a> 
	<h3>Total Squares: {{ width * length }}</h3>
        <h3 id="total-picked">Total Picked: <span>0</span>
    </div>
</div>
	
<div class="col-md-8 col-md-offset-2">
    <div class="alert alert-success">
        <b>Tip!</b> A variety of plants tends to help produce better results.
    </div>
</div>
	
<div class="col-md-8 col-md-offset-2">
    <div id="plantslist">
	<div id="right">	
	{% for i in range(list_len,2*list_len) %}
	    <div class={% if i % 2 == 0 %}"even"{% else %}"odd"{% endif %}>	
	        -{{plant_list[i]['name']}} 
                <span class="choice" id="counter-{{plant_list[i]['id']}}">
                    <button class="minus btn btn-default btn-sm">
                        <span class="glyphicon glyphicon-minus"> </span>
                    </button>
                    <span>0</span>
                    <button class="plus btn btn-default btn-sm">
                        <span class="glyphicon glyphicon-plus"> </span>
                    </button>
	        </span>
	    </div>	
	{% endfor %}
	</div>
	<div id="left">
	{% for i in range(0,list_len) %}
	    <div class={% if i % 2 == 0 %}"even"{% else %}"odd"{% endif %}>
	        -{{plant_list[i]['name']}} 
                <span class="choice" id="counter-{{plant_list[i]['id']}}">
                    <button class="minus btn btn-default btn-sm">
                        <span class="glyphicon glyphicon-minus"> </span>
                    </button>
                    <span>0</span>
                    <button class="plus btn btn-default btn-sm">
                        <span class="glyphicon glyphicon-plus"> </span>
                    </button>
	        </span>
	    </div>
	{% endfor %}
	</div>
    </div>
</div>

<form action="{{ url_for("show_plot") }}" method="POST">
    <input type="hidden" name="plant_counts" id="plant-counts"></input>
    <input type="hidden" name="plot_width" id="plot-width"></input>
    <input type="hidden" name="plot_length" id="plot-length"></input>
</form>
{% endblock %}

{% block end %}
<script type="text/javascript">
var plot_width = {{ width }};
var plot_length = {{ length }};
var plants  = {{ g.json.dumps(plant_list) | safe}};
var num_plants = 0;
var max_size = plot_width * plot_length; 

var plant_counts = {};
for (var i = 0; i < plants.length; i++) {
    var plant = plants[i];
    plant_counts["" + plant.id] = 0;
}

var increase = function(evt) {
    var span = $(this).parent();
    var raw_id = span.attr("id");
    var id = raw_id.split("-")[1];
    if (num_plants < max_size)
    	{plant_counts[id]++;
    	num_plants ++;
    	span.children("span").text(plant_counts[id]);
	$("h3#total-picked span").text(num_plants)}
    else
    	{alert("Too many plants!")}
};

var decrease = function(evt) {
    var span = $(this).parent();
    var raw_id = span.attr("id");
    var id = raw_id.split("-")[1];
    span.children("span").text(plant_counts[id]);
    if (plant_counts[id] > 0) 
	{num_plants--;
	plant_counts[id]--;
    	$("h3#total-picked span").text(num_plants);
    	span.children("span").text(plant_counts[id]);
	}
};

var fin = function(evt) {
    if (num_plants == max_size) {
        $("input#plant-counts").val(JSON.stringify(plant_counts));
        $("input#plot-width").val(JSON.stringify(plot_width));
        $("input#plot-length").val(JSON.stringify(plot_length));
        $("form").submit();
        return false;
    }
    else {
        alert("You need more plants.");
        return false;
    }
};

var main = function() {
    $("button.plus").click(increase);
    $("button.minus").click(decrease);
    $("a#done").click(fin);
};

$(document).ready(main);

</script>
{% endblock %}

