<!DOCTYPE HTML>

<html>
<head>
<link href='http://fonts.googleapis.com/css?family=The+Girl+Next+Door' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" media="screen" href="/static/style.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
<script src="static/js/application.js" type="text/javascript"></script>
	<title>Companion Planting Companion</title>
</head>
<body>
	<div id="header">
		<h1>Companion Planting Companion</h1>
	</div>
	<div id="menu">
	{{season}}:{{state}}>{{city}}>{{width}}x{{length}}<br>
	long: {{longitude}}, lat: {{latitude}}
	<div id="count" value="{{side}}">
		<h3>Total Squares: {{size}}</h3>
		<h3>Total Picked: 0</h3>
	</div>
	<div id="plantslist">
	<div id="right">	
	{% for i in range(list_len,2*list_len) %}
	{% if i % 2 == 0 %}
	<div id="even">
	{% else %}
	<div id="odd">
	{% endif %}		
	-{{plant_list[i].common_name}} 
	<span id="choice">
		<button class="add">+</button>
		 0 
		<button class="remove">-</button>
	</span>
	</div>	
	{% endfor %}
	</div>
	<div id="left">
	{% for i in range(0,list_len) %}
	{% if i % 2 == 0 %}
	<div id="even">
	{% else %}
	<div id="odd">
	{% endif %}
	-{{plant_list[i].common_name}} 
	<span id="choice">
		<button class="add">+</button>
		 0 
		<button class="remove">-</button>
	</span>
	</div>
	{% endfor %}
	</div>
	</div>
	</div>
</body>
</html>
